.FindBusinessContainer {
    min-height: 100vh;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empresas {
    color: var(--second);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 10px;
    justify-content: center;
}

.buildPageFindBusinessContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    margin: -50px 0 50px;
    position: relative;
    margin-top: 10px;
    font-size: 20px;
}

#search_grey {
    filter: invert(77%) sepia(56%) saturate(1758%) hue-rotate(12deg) brightness(95%) contrast(97%);
}

.searchContainer {
    /* margin: 8px 0;
    padding: 0 15%;
    display: flex;
    color: var(--fourth);
    background: gold;
    position: relative; */
    position: relative;
    align-items: center;
    width: 90%;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.searchContainer input {
    position: relative;
    background: var(--second);
    color: white;
    padding: 12px 24px;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--second);
    width: 100%;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}

.searchContainer .searchicon {
    /* padding: 8px 16px;
    display: flex;
    width: 60px;
    */
    color: var(--fourth);
    z-index: 1;
    position: absolute;
    height: 30px;
    width: 30px;
    right: 10px;
    top: 8px;

}



.buildListRandom {
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px; */
    
    margin-top: 30px;
    text-align: left;
    width: 100%;
}

.FindBusinessContainer .dialogDialog {
    width: 460px;
    height: 610px;
    background: #fff;
    border-radius: 2rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-width: 95%;

    &.large {
        width: 1024px;
        max-width: 90%;
    }

    h2 {
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    span {
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: bold;
    }

    label {
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 15px;
    }

    
}


@media (max-width: 575px) {

    .buildPageFindBusinessContainer {
        height: 300px;
        width: 300px;
        text-align: center;
    }

    #search_grey {
        margin-top: 30px;
        transform: scale(0.7);
    }
}