.FindBusinessContainer{
    min-height: 100vh;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empresas {    
    color: var(--second);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 16px;
}

.buildPageFindBusinessContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    margin: -50px 0 50px;
}

#search_grey {
    filter: invert(31%) sepia(51%) saturate(5886%) hue-rotate(23deg) brightness(94%) contrast(97%);
}

.searchContainer {
    /* margin: 8px 0;
    padding: 0 15%;
    display: flex;
    color: var(--fourth);
    background: gold;
    position: relative; */
    position: relative; 
    align-items: center;
    width: 90%;
    border: none;
}

.searchContainer input {
    position: relative;
    background: var(--second);
    color: white;
    padding: 12px 24px;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--second);
    width: 100%;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}

.searchContainer .searchicon {
    /* padding: 8px 16px;
    display: flex;
    width: 60px;
    */
    color: var(--fourth);
    z-index: 1;
    position: absolute;
    height: 30px;
    width: 30px;
    right: 10px;
    top: 8px;

}



.buildListRandom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}