
#containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    margin: -20px 0 50px;
}

.containerLogin h1 {
    font-weight: bold;
    margin: 0;
    color: #fff;
    font-size: 40px;
}

.containerLogin span {
    font-size: 16px;
    color: var(--second);
    padding: 15px;
}

.containerLogin a {
    color: #f6f5f7;
    font-size: 14px;
    text-decoration: underline dotted;
    cursor: pointer;
    margin: 15px 0;
}

.containerLogin .Link {
    color: var(--second);
    font-size: 14px;
    text-decoration: underline dotted;
    cursor: pointer;
    margin: 15px 0;
}


.spacing {
    letter-spacing: 4px;
}

.containerLogin p {
    font-size: 12px;
    color: #727272;
    width: 100%;
    padding-top: 5px;
}

.loginForm-button button {
    border-radius: 5px;
    border: 1px solid #ff4b2b;
    cursor: pointer;
    color: #be4d04;
    background: var(--second);
    font-size: 20px;
    font-weight: 500;
    padding: 12px 45px;
    letter-spacing: 14px;
    transition: transform 80ms ease-in;
    width: 100%;
    outline: none;
}

.containerLogin button:active {
    transform: scale(0.95);
}

.containerLogin form {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    background: var(--primary);
}

.containerLogin input {
    background: var(--primary);
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding-left: 15px;
    border-bottom-width: 2px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    outline: none;
}

.containerLogin {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-containerLogin {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: var(--primary);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

@media (max-width: 575px) {

    .containerLogin {
        /* width: 768px;
        max-width: 100%;
        min-height: 480px; */

        height: 768px;
        max-height: 100%;
        min-width: 450px;
    }

    .form-containerLogin {
        /* position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out; 
        margin: 10px 0px 10px 0px; */
        top: 0;
        height: 53%;
        transition: all 0.6s ease-in-out;
    }

    .sign-in-container {
        /* left: 0;
        width: 50%;
        z-index: 2; */
        margin: 10px 0px 10px 0px;
        top: 0;
        width: 100%;
    }

    .overlay-container {
        /* top: 0;
        left: 50%;
        width: 50%;
        height: 100%; */
        top: 50%;
        left: 0;
        width: 100%;
        height: 50%;
        transition: transform 0.6s ease-in-out;
    }

    .overlay {
        /* left: -100%;
        height: 100%;
        width: 200%; */

        left: 0;
        height: 200%;
        width: 100%;
        transition: transform 0.6s ease-in-out;
    }

    .overlay-panel {
        /* top: 0;
        height: 100%;
        width: 50%; */
        top: 0;
        height: 60%;
        width: 100%;
        transition: transform 0.6s ease-in-out;
    }

    .overlay-right {
        /* right: 0;
        transform: translateX(0); */
        left: 0;
        transform: translateX(0);
    }

    .containerLogin form {
        margin: 10px 0 50px;
        height: 90%;
    }

    .containerLogin img {
        width: 250px;
        height: 300px;
    }

}

/* .SignInContainer{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    background: #2c2c2c;
    border-radius: 5px;
}

.SignInContainer .title {
    font-size: 45px;
    font-weight: 500;
    color: white;
    text-align: left;
    position: relative;
    margin: 20px 20px;

    span {
        position: absolute;
        top: 10px;
        font-size: 16px;
        color: #fc6500;
        text-align: left;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 90px;
    }
}

.SignInContainer img {
    background: white;
    width: 100%;
    height: auto;

}

.SignInContainer .loginForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 12px 0;
}

.SignInContainer .loginForm p {
    letter-spacing: 4px;
    font-size: 15px;
    color: #727272;
    width: 100%;
    height: 40px;
    padding-left: 15px;
}

.loginForm .flex-lg {
    margin: 8px 10px;
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
    align-items: center;
    justify-content: center;
}

.flex-lg input {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid white;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    background: #2c2c2c;
    color: white;

}

.flex-lg label {
    color: red;
    font-size: 12px;
    font-weight: 500;
}

.loginForm .Link {
    width: 100%;
    height: 20px;
    margin: 20px 20px;
    align-items: center;
    justify-content: center;
    color: #727272;
    cursor: pointer;
    outline: none;
    font-size: 12px;  
    text-align: center;  
    text-decoration: underline dotted;     
}

.loginForm .loginForm-button {
    width: 100%;
    height: 40px;
    margin: 20px 20px;
}

.loginForm .loginForm-button button {
    width: 100%;
    height: 100%;
    outline: none;
    cursor: pointer;
    color: #be4d04;
    background: #fc6500;
    font-size: 25px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    letter-spacing: 14px;
    align-items: center;
    justify-content: center;
}

.loginForm .loginForm-button button:hover{
    background: #be4d04;
    color: #fc6500;
}

.loginForm .grid-md {
    margin: 8px 10px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.loginForm .grid-md p {
    letter-spacing: 2px;
    font-size: 13px;
    color: #727272;
    width: 100%;
    height: 40px;
    padding-left: 13px;
}

.loginForm .grid-md .Link {
    width: 100%;
    height: 20px;
    margin: 10px 10px;
    cursor: pointer;
    outline: none; 
    text-align: center;   
    color: #fc6500;
    font-size: 14px;
}

@media(max-width: 584px) {
    .SignInContainer{
        max-width: 100%;
    }    
    .loginForm .flex-lg {
        margin-bottom: 15px;
        width: 100%;
    }
    .SignInContainer .loginForm{
        max-height: 400px;
        overflow-y: scroll;
    } 

    .SignInContainer .loginForm::-webkit-scrollbar{
        width: 0;
    }

    .loginForm .loginForm-button {
        margin: 20px 10px;
    }
}

/* 
.SignInContainer{
    height:100vh;
    padding: 8px 10px;
    display: flex;
    background: #2c2c2c;

    h1{
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        font-size: 75px;
    }
    h3{
        color: #fc6500;
        font-size: 25px;
    }
    p{
        letter-spacing: 4px;
        font-size: 15px;
        color: #727272;
    }
    .grid-md{
        p{
            letter-spacing: 2px;
            font-size: 13px;
            color: #727272;
        }
        .Link{
            color: #fc6500;
            font-size: 14px;
        }
    }
    .flex-lg{
        display: block;
        padding: 8px 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        justify-content: center;
    
        input{
            background: #424242;
            color: white;
            width: 250px;
            height: 30px;
        }
        label{
            color: red;
        }
        
    }
    
    .Link{
        color: white;
        padding-bottom: 20px;
        padding-top: 1px;
        padding-left: 40px;
        cursor: pointer;
        font-size: 12px;
        outline: none;
    }
    
    button{
        color: #be4d04;
        background: #fc6500;
        letter-spacing: 14px;
        border: none;
        border-radius: 6px;
        font-size: 25px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}



 */