.fab-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}

.iconbutton {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 2px 2px 3px #aaaaaa;
}

.iconbutton button {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}

.button {
    width: 60px;
    height: 60px;
    background: #fc6500;
}