.CardContainer {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial; */
    --backdrop: var(--primary);
    display: -ms-grid;
    display: grid;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 32.2%;
    flex: 1 1 32.2%;
    max-width: 600px;
    -webkit-box-shadow: 0.25em 0.3em 1em var(--primary);
    box-shadow: 0.25em 0.3em 1em var(--primary);
    background-color: var(--fifth);
    border-radius: 25px;
    border: 3px solid var(--fifth);
    padding: calc(16px / 1.5) calc(16px / 1.2);
    gap: 8px;
    text-decoration: none;
    cursor: pointer;
}

.CardContainer:hover {
    box-shadow: 0 8px 16px 0 var(--fifth);
}

.CardContainer_Icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 150px 150px 150px 150px;
    width: 250px;
    height: 250px;
    color: var(--second);
    background: white;
}

.CardContainer_Icon img{
    box-shadow: 0.25em 0.3em 1em var(--primary);
    border-radius: 150px 150px 150px 150px ;
    object-fit: fill;
    width: 250px;
    height: 250px;
}

#store {
    filter: invert(17%) sepia(15%) saturate(10%) hue-rotate(187deg) brightness(54%) contrast(26%);
}

.CardContainer_Titulo {
    padding: 2px 16px;
    color: black;
    font-size: 12px;
    h4 {
        font-size: 18px;
        font-weight: 500;
    }
    p {
        display: flex;
    }
}

.CardContainer_Divider {
    height: 1px;
    width: 100%;
    background: var(--third);
    margin: 10px 0;
}

.CardContainer_Detalle {
    width: 90%;
    color: var(--third);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 2px 0;
    font-size: 12px;
}

.CardContainer_DetalleIcon {
    padding: 2px 8px;
    display: flex;
    width: 40px;
    color: var(--second);
}