.SidebarContainer {
    color: white;
    background: var(--second);
    position: sticky;
    padding-top: 10px;
}

.Logocontent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logocontent .imgcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    transform: scale(0.7);
}

.Logocontent .imgcontent #logo {
    max-width: 100%;
    height: auto;
}

.OpenMenu {
    width: 50%;
    height: 50%;
    cursor: pointer;
}

.SidebarContainer #sidebar  {
    position: absolute;
    top: 28px;
    right: -18px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--second);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    letter-spacing: inherit;
    color: inherit;
    font-size: inherit;
    text-align: inherit;
    padding: 0;
    font-family: inherit;
    outline: none;

}

.LinkContainer {
    margin: 8px 0;
    padding: 0 15%;
}

.LinkContainer:hover {
    background: var(--sixth);

}



.LinkContainer .Links {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: calc(8px - 2px) 0;
    color: var(--fourth);

    &.active {
        color: var(--primary);

        .Linkicon {
            color: var(--primary);
        }
    }
}

.LinkContainer .Links:hover {
    background: var(--sixth);

    .LinkSubLabel {
        color: var(--fourth);
    }

    &.active {
        color: var(--fourth);

        .Linkicon {
            color: var(--fourth);
        }

        .LinkSubLabel {
            color: var(--fourth);
        }
    }

}

.LinkContainer .Links .Linkicon {
    padding: 8px 16px;
    display: flex;
    width: 60px;
    color: var(--fourth);

}


.LinkContainer .Links .LinkSubLabel {
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: left;
    color: var(--sixth);
}

.LogoutContainer {
    display: flex;
    margin: 8px 0;
    padding: 0 15%;
}

.LogoutContainer .Logouticon {
    padding: 8px 16px;
    display: flex;
    width: 60px;
    color: var(--fourth);
}

.LogoutContainer #LogoutButton {
    width: 150%;
    height: 40px;
    display: flex;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background: var(--nineth);
    font-size: 14px;
    letter-spacing: 0;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    transition: transform 80ms ease-in;
    outline: none;

}


.Divider {
    height: 1px;
    width: 100%;
    background: var(--fourth);
    margin: 24px 0;
}

/* .Menu {
    color: hsl(190 60% 98%);
    background: hsl(24.048, 100%, 49%);
    position: sticky;
    display: none;

    &.active {
        display: block;
        transition: all 0.3s;

    }

    .Logocontent {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        padding-top: 10px;
    
        .imgcontent {
            display: flex;
    
            img {
                max-width: 100%;
                height: 155px;
            }
        }
        .Logout {
            padding-top: 4px;
            padding-left: 10px;
            padding-bottom: 4px;
            padding-right: 10px;
        
            width: 60%;
            display: flex;
            
            border: none;
            border-radius: 6px;
            color: white;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background: #be4d04;
            font-size: 14px;
            letter-spacing: 0;
                    img {
                        width: 40px;
                        height: 40px;
                        filter: invert(100%);
                    }
        
        
        }
    }
    .Divider{
        height: 1px;
        width: 100%;
        background: white;
    }
    .LinkContainer {
        margin: 8px 0;
         padding: 0 10%; 
    
        :hover {
            background: #be4d04;
            color: white;
        }
    
        .Links {
            display: flex;
            align-items: center;
            text-decoration: none;
            padding-top: 1px;
            padding-left: 20px;
            padding-bottom: 1px;
            color: white;
            &.active{
                color: #be4d04;
            }
            .Linkicon {
                padding: 8px 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                .LinkLabel{
                    span {
                        text-align: left;
                        padding-left: 8px;
                    }
                    p{
                        padding-left: 8px;
                        color: #d9d9d9;
                        font-size: 13px;
                    }
        
                }
            }
            
    
            
        }
    }


}

.closeMenu {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: hsl(190 60% 98%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    letter-spacing: inherit;
    color: hsl(24.048, 100%, 49%);
    font-size: inherit;
    text-align: inherit;
    padding: 0;
    font-family: inherit;
    outline: none;
    transition:all 0.3s ;
    &.active {
        display: flex;
        background: hsl(24.048, 100%, 49%);
        color: hsl(190 60% 98%);
        left: 264px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        box-shadow: 0 0 4px hsl(24.048, 100%, 49%), 0 0 7px hsl(24.048, 100%, 49%);
        align-items: center;
        justify-content: center;
    }
}

 */