.ViewUpdateUserContainer {
    background: white;
    color: black;
}

.UpdateUserContainerPHOTO_bkg {
    background: #d6d6d6;
    width: 100%;
    height: 270px;
    background-image: url('../../assets/splash_white.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.UpdateUserContainerPHOTO {
    position: absolute;
    margin-left: 50px;
    margin-top: 30px;
    display: flex;

    svg {
        color: var(--second);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid #fff;

    }
}

.UpdateUserContainerGroupClic {
    display: flex;
    align-items: center;
    justify-items: center;

    width: 100%;


    img {
        margin-top: 10px;
        margin-left: 25px;
        margin-bottom: 10px;
        margin-right: auto;
        width: 35px;
    }

    label {
        margin-top: 10px;
        margin-left: 25px;
        margin-bottom: 10px;
        margin-right: auto;
        width: 80%;
        font-size: 20px;
    }

    svg {
        margin-top: 10px;
        margin-left: 25px;
        margin-bottom: 10px;
        margin-right: 20px;
        width: 40px;
        color: gray;
    }

    ._color {
        color: #fc6500;
    }

}

.nameGroup {
    &.active {
        display: none;

    }
}

.infGroup {
    &.active {
        display: none;

    }

}

.mailGroup {
    &.active {
        display: none;

    }
}

.passGroup {
    &.active {
        display: none;

    }
}

.desAccGroup {
    &.active {
        display: none;

    }
}

.GroupLabel {
    display: grid;
    margin-bottom: 10px;
    margin-left: 30px;



    label {
        margin-left: 10px;
    }

    input {
        margin-left: 10px;
        margin-right: 10px;
        border: 2px solid salmon;
        width: 90%;
        outline: none;
        height: 32px;
    }

    input:required:invalid {
        border: 2px solid red;
    }

    input:disabled {
        border: 2px solid salmon;
        background: #999999;
        color: #fff;
    }

    span {
        margin-left: 10px;
    }

    .bt-btn {
        margin: 0 auto;
        text-align: right;
        width: 81%;
    }

    button {
        width: 100px;
        height: 30px;
        margin-right: 5px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 15px;
        color: var(--fifth);
        cursor: pointer;
        outline: none;
        transition: transform 80ms ease-in;
        color: white;
        background: #f26422;
        margin-top: 10px;
    }

    button:disabled,
    button[disabled] {
        border: 1px solid #999999;
        background-color: #616161;
        color: white;
        cursor: auto;
    }

    .searchicon {
        display: flex;
        align-items: center;
        width: 90%;

        svg {
            color: var(--eighth);
            height: 30px;
            width: 30px;
            right: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: -45px;
        }

        input {
            flex: 1;
            margin-left: 10px;
            margin-right: 10px;
            border: 2px solid salmon;
            height: 32px;
            width: 90%;
            outline: none;
        }


    }
}



#imgPHOTO {
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.circlePh{
    margin: 1px auto;
    width: 20px;
    height: 20px;
    border: 5px solid oklch(70.5% 0.213 47.604);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}



@media (max-width: 575px) {

    .UpdateUserContainerPHOTO_bkg {
        height: 100px;
        background-size: 160px 45px;
    }

    .UpdateUserContainerPHOTO {
        margin-left: 30px;

        svg {
            width: 50px;
            height: 50px;
        }
    }

    #imgPHOTO {
        width: 50px;
        height: 50px;
    }
}