.sidebarState {
    /* position: absolute;
    top: 0;
    left: 0; */
    display: grid;
    grid-template-columns: 90px auto;
    background: var(--second);
    transition: all 0.4s;
    color: white;

    &.active {
        grid-template-columns: 300px auto;
    }

}

@media (max-width: 575px) {
    .sidebarState {
        grid-template-columns: 45px auto;
    }
}